:root {
  --white: #ffffff;
  --bleu: #0065FC;
  --bleu-light: #DEEBFF;
  --grey: #F2F2F2; 
}


body{
  font-family: 'Raleway', sans-serif;
}

#header{
padding-bottom: 15px;

}

.top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}

.top-header a{
margin: 20px;
color: #0065FC;
padding: 10px;
}

.top-header a:hover{
  color: black;
  }

.logo{
  max-width: 100px;
}
 nav a{
   text-decoration: none;
 }
a.inscription{
  font-weight: bold;
 }
  .activites{
  text-decoration-color: black;
  font-weight: bold;
  padding-left: 40px;
  }

 a.accommodation{
font-weight: bold;
border-top: solid;
padding-top: 40px;
 }

nav:hover {
  color: black;
}

.titre {
color: black;
font-weight: bold;
font-size: 1.5em;
padding-left: 25px;
padding-bottom: unset;
}

.s-titre {
 color: gray;
 padding-left: 25px;
 padding-top: unset;
 padding-bottom: 4px;
 font-size: 1em;
}

div.content{
padding-left: 25px;
padding-top: 50px;
}

.research{
  padding: 9px;
  text-align: center;
  color: white;
  background-color: #0065FC ;
  border-style: initial ;
  border-top-right-radius: 7px ;
  border-bottom-right-radius: 7px ;
  font-weight: bold;
  font-size: 1.0em;
}

  i.fas.fa-map-marker-alt{
   border-top-left-radius: 7px ;
   border-bottom-left-radius: 7px ;
   background-color: #F2F2F2;
   display: flex;
   flex-direction: row;
   border-top-left-radius: 7px ;
   border-bottom-left-radius: 7px ;
   padding-top: 8px;
   padding-left: 15px;
   padding-right: 15px;

  }

  i.fas.fa-info{
    display: flex;
    flex-direction: row;
    color: #0065FC;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 40px;
    background-color: brown;
    border-color: black;
    margin-block-start: 3px;
    margin-block-end: 3px;
  }
 
  div#info{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    }


    .placeholder{
      border-style: solid;
      border-color: #F2F2F2;
      font-weight: bold;
      padding-left: 12px;
      padding-right: 16px;
      font-size: 1.0em;
    }
    
    ::placeholder {
      color: black;
    }

    #menu{
      padding-left: 25px;
      font-size: 1.0em;
      font-weight: bold;
    }
    
     .filter{
    border: unset;
    font-size: 1.0em;
     }
    
    h{
      border-style: solid;
      border-color:  rgb(217, 217, 217);
      border-radius: 20px;
      padding-right: 15px;
    }
    h.filtre{
      padding-top: 9px;
    }
    
    i.fas.fa-money-bill-wave{
    background-color: rgb(214, 231, 255);
    border-radius: 20px;
    border: 12px;
    border-color: rgb(214, 231, 255);
    padding: 9px;
    margin-left: unset;
    color: #0065FC ;
    }
    
    i.fas.fa-child{
    background-color: rgb(214, 231, 255); 
    border-radius: 20px;
    border: 12px;
    border-color: rgb(214, 231, 255);
    padding: 9px;
    margin-left: unset;
    color: #0065FC ;
    }
     
    i.fas.fa-heart{
    background-color: rgb(214, 231, 255);
    border-radius: 20px;
    border: 12px;
    border-color: rgb(214, 231, 255);
    padding: 9px;
    margin-left: unset;
    color: #0065FC ;
    }
    
    i.fas.fa-dog{
     background-color: rgb(214, 231, 255);
     border-radius: 20px;
    border: 12px;
    border-color: rgb(214, 231, 255);
    padding: 9px;
    margin-left: unset;
    color: #0065FC ;
    }

    .container-flex{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-right: 10px;
    }
  
  .flex h{
      margin:20px;
      align-items: center;
    }
  
    div#find{
      display: flex;
      flex-direction: row;
      padding-left: 25px;
      font-size: 1.0em;
    }

  
 div.Hebergement{
  background-color: #F2F2F2;
  padding: 15px;
  padding-bottom: 30px;
  margin: 7px;
  border-radius: 15px;
 } 

 i.fas.fa-star{
color: var(--bleu);
 }

 p.fas.fa-star{
  color: var(--grey);
   }

 p.heber{
  padding: 9px;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: unset;

}
 div.Plus-Pop{
  background-color: #F2F2F2;
  margin:7px;
  border-radius: 15px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
 }

  div.heading{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding-top: unset;
    padding: 18px;
    box-sizing: border-box;
    justify-items: baseline;
  }

  
  p.Marseille{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    padding-bottom: 10px;
    margin-left: 2px;
  }

div.container{
  background-color: white;
  border-radius: 15px;
  padding-left: 7px ;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 10px;
  display: inline-block;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-items: baseline;
  margin: 20px;
}

div.container2{
  background-color: white;
  border-radius: 15px;
  padding-left: 7px ;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 7px;
  display: flex;
  box-sizing: border-box;
  justify-items: baseline;
  margin: 20px;
}
div.container2 div.nom{
  font-weight: bold;
}



div.container2 a img{
  width: 175px; 
  height: 175px;
  padding-right: 20px;
  display: inline;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
div.first-line{
display: flex;
align-items: center;
padding-top: unset;
}

div.second-line{
  display: flex;
  align-items: center;
}

div.item{
  padding: 40px;
  font-weight: bold;
  font-size: 17px;
}

footer {
  background-color: #F2F2F2;
  padding: 25px;
}

.footer-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

footer ul {
  list-style: none;
}
.services{
  padding: 7px;
}

.services h2 {
font-weight: bold;
font-size: 1.2em;
}

li{
  padding: 4px;
}
.container img{
  width: 200px; 
  height: 100px; 
  object-fit: cover; 
  vertical-align: middle;
  padding-bottom: 20px;
  display: inline;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

 