:root {
  --white: #ffffff;
  --bleu: #0065FC;
  --bleu-light: #DEEBFF;
  --grey: #F2F2F2;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

/*************************
         nav
**************************/
.wrapper{
box-sizing: border-box;
width: 100%;
max-width: 1500px;
margin: 0 auto;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.top-header a {
  margin-left: 20px;
  color: #0065FC;
}

.top-header a:hover {
  color: black;
}

h1{
  margin-block-end: unset;
}

.logo img{
  width: 110px;
  height: 50px;
}

.menu-link{
  padding-top: 50px;
}

nav a {
  text-decoration: none;
  
}

a.inscription {
  font-weight: bold;
}

.activites {
  text-decoration-color: black;
  font-weight: bold;
}

a.accommodation {
  font-weight: bold;
  border-top: solid;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

nav:hover {
  color: black;
}

/*************************
         Titre, Recherche
**************************/

h2{
  color: black;
  font-weight: bold;
}

.s-title {
  color: gray;
  padding-top: unset;
  padding-bottom: 8px;
  font-size: 1em;
  margin-block-start: 0.6rem;
}

#find {
  display: flex;
  flex-direction: row;
  font-size: 1.0rem;
  height: 50px;
}

.research {
  padding: 9px;
  text-align: center;
  color: white;
  background-color: #0065FC;
  border-style: initial;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  font-weight: bold;
  font-size: 1.0rem;
}

i.fas.fa-map-marker-alt {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;

}

.search-input {
  border-style: solid;
  border-color: #F2F2F2;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 16px;
  font-size: 1.0em;
}

::placeholder {
  color: black;
}

/*************************
      FILTER ECONOM, FAMILIAL, ROMANTIQUE, ANIMAUX   
*************************/
.filters {
  font-size: 1.0em;
  font-weight: bold;
  padding-top: 30px;
  display: flex;
}

.filters h3 {
  border: unset;
  font-size: 1.0em;
}

.filter {
  border: 2px solid rgb(217, 217, 217);
  border-radius: 20px;
  padding-right: 15px;
  margin: 5px;
}

i.fas.fa-money-bill-wave {
  background-color: rgb(214, 231, 255);
  border-radius: 20px;
  border: 12px;
  border-color: rgb(214, 231, 255);
  padding: 9px;
  margin-left: unset;
  color: #0065FC;
}

i.fas.fa-child {
  background-color: rgb(214, 231, 255);
  border-radius: 20px;
  border: 12px;
  border-color: rgb(214, 231, 255);
  padding: 9px;
  margin-left: unset;
  color: #0065FC;
}

i.fas.fa-heart {
  background-color: rgb(214, 231, 255);
  border-radius: 20px;
  border: 12px;
  border-color: rgb(214, 231, 255);
  padding: 9px;
  margin-left: unset;
  color: #0065FC;
}

i.fas.fa-dog {
  background-color: rgb(214, 231, 255);
  border-radius: 20px;
  border: 12px;
  border-color: rgb(214, 231, 255);
  padding: 9px;
  margin-left: unset;
  color: #0065FC;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 10px;
}

/*************************
         SEARCH-INFO
**************************/
.search-info{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1rem;
 margin-bottom: 2px;
}

.icon-info{
flex-flow: row;
border-radius: 17px;
width: 20px;
height: 20px;
border: solid gray 2px;
margin-top: 12px;

}

i.fas.fa-info {
  color: #0065FC;
  box-sizing: border-box;
  padding-left: 7px;
  padding-top: 3px;
  font-size: 14px;
}

.search-info p{

  padding-left: 7px;
}


/*************************
         block ebergement + les plus populaires
**************************/

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}

aside{
  min-width: 360px;
  width: 30%;
}

.group {
  background-color: #F2F2F2;
  border-radius: 15px;
}

i.fas.fa-star {
  color: var(--bleu);
  margin-block-start: unset;
  margin-block-end: unset;
  font-size: 13px;
}

p.fas.fa-star {
  color: var(--grey);
  margin-block-start: unset;
  margin-block-end: unset;
  font-size: 13px;
}

 .bloc-stars{
padding-left: 12px;

 }

.main-title-container1{
  font-weight: bold;
}

.main-title-container2{
  font-weight: bold;
}

.chart{
  display: flex;
}

i.fas.fa-chart-line {
  align-self: right;
}

.main-container1 {
  box-sizing: border-box;
  justify-items: baseline;
}

.main-container2{
  display: flex;
  justify-content: space-between;
}

i.fas.fa-chart-line{
  padding-top: 20px;
  font-size: 2em;
}
p.Marseille {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  padding-bottom: 10px;
  margin-left: 2px;
}

.container {
  border-radius: 25px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  display: inline-block;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-items: baseline;
  margin-right: 20px;
  box-shadow: 0.2px 7px 30px gray;
}

.container2 {
  border-radius: 25px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  display: flex;
  box-sizing: border-box;
  justify-items: baseline;
  margin-bottom: 30px;
  box-shadow: 0.2px 7px 30px gray;
}

.name {
  font-weight: bold;
  padding-left: 12px;
  padding-bottom: 7px;
  font-size: 1.0em;
}

.price {
  padding-left: 12px;
  padding-bottom: 7px;
}

.container img {
  width: 240px;
  height: 109px;
  object-fit: cover;
  vertical-align: middle;
  padding-bottom: 10px;
  display: inline;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.container2 a img {
  height: 135px;
  display: inline;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.first-line {
  display: flex;
  align-items: center;
}

.second-line {
  display: flex;
    align-items: center;
    margin-top: 20px;
}

.item {
  padding-top: 35px;
  padding-bottom: 35px;
  font-weight: bold;
  font-size: 1.5em;
}
 

.location-name-price-container2{
  padding-left: 9px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 30px;
}

/*************************
         block activites a Marseille
**************************/

.container3{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.item-container3{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 23%;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;
}

.sub-item-container3{
  min-width: 350px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0.1px 2px 8px lightgray;
}

.item-container3 .name{
  margin-left: 5%;
  height: 25px;
  line-height: 70px;
}

.even_container{
  min-height: 150px;
  height: 100%;
  margin-bottom: 10px;
  padding-bottom: 60px;
}

.even_container .name{
  padding-top: 20px;
  line-height: 25px;
}

.odd_container{
  min-height: 215px;
  margin-bottom: 10px;
}

.odd_container .name{
  padding-top: 0px;
}

.even{
  height: 95%;
}

.odd{
  min-height: 136px;
}

.sub-item1-container3{
  background: url(/images/activites/4_small/activ-Marseille-vieux-port.jpg) no-repeat center;
}

.sub-item2-container3{
  background: url(/images/activites/4_small/Activ-Marseille-Fort.jpg) no-repeat center;
}

.sub-item3-container3{
  background: url(/images/activites/4_small/Activ-Marseille-iles.jpg) no-repeat center;
}

.sub-item4-container3{
  background: url(/images/activites/4_small/Activ-Marseille-parc.jpg) no-repeat center;
}

.sub-item5-container3{
  background: url(/images/activites/4_small/Activ-Marseille-NotreDame.jpg) no-repeat center;
}

.sub-item6-container3{
  background: url(/images/activites/4_small/Activ-Marseille-ParcLongchamp.jpg) no-repeat center;
}

.item1-container3{
  border: solid blue 2px;
  border-radius: 35px;
  padding-bottom: 30px;
}

.item2-container3{
  border: solid brown 2px;
  border-radius: 35px;
  padding-bottom: 30px;
}


/*************************
         footer
**************************/
footer {
  background-color: #F2F2F2;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 75%;
}

footer ul {
  list-style: none;
}

.services {
  padding: 7px;
}

.services p {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 42px;
}

li {
  padding: 4px;
}
